page-home {
	#button-holder{
		text-align: center;
	}
	.next_or_prev{
		margin: 40px 10% 0 10%;
		width: 80%;
	}
	.card{
		background-color: white;
		margin: 0 10% 0 10%;
		padding: 10px 12px 0px 12px;
		border-radius: 8px;
		position: fixed;
		bottom: 0;
		width: 80%;
	}
	.video-container {
	    position: relative;
	    padding-bottom: 56.25%;
	    padding-top: 30px; height: 0; overflow: hidden;
	}

	.video-container iframe, .video-container object, .video-container embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}
	.bg-vid {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: 100%;;
		z-index: -100;
		-webkit-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		-o-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background: url(https://www.youtube.com/embed/qyEzsAy4qeU) no-repeat;
		background-size: cover;
	}
}
