<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      Live Streaming Page
    </ion-title>
  </ion-navbar>
</ion-header> -->
<ion-content no-padding>
  <!-- The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p> -->
  <!-- stream youtube video by embeding it -->
  <!-- <div class="card">
    <ion-item>
      <div class="video-container">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/ohQPySWJToo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </ion-item>
  </div> -->
  <!-- <div>
    <iframe class="bg-vid" src="https://www.youtube.com/embed/qyEzsAy4qeU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div> -->
  <div>
    <iframe class="bg-vid" src="https://www.ustream.tv/embed/23567641?html5ui" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>


  <div class="next_or_prev">
    <ion-list>
      <div id="button-holder">
        <button ion-button round outline color="light" icon-start (click)="prev()" *ngIf="index<0">
          <ion-icon name="arrow-round-back"></ion-icon>
          Q0
        </button>
        <button ion-button round outline color="light" icon-start (click)="prev()" *ngIf="index>=0">
          <ion-icon name="arrow-round-back"></ion-icon>
          Q{{index}}
        </button>
        <button ion-button round outline color="light" icon-end (click)="next()">
          Q{{index+2}}
          <ion-icon name="arrow-round-forward"></ion-icon>
        </button>
        <br>
         <!-- <button ion-button round outline color="light" *ngIf="index<0" >
          Question 0
        </button> -->
        <button ion-button round outline color="light">
          Question {{index+1}}
        </button>
      </div>
    </ion-list>
  </div>
  <div class="card">
    <ion-list> <!-- *ngFor="let item of items" --> 
      <span id="q">{{question}}</span>
      <br>
      <br>
      <div class="no-pad">
      <button ion-button round color="light" class="ans" (click)="recordAnswer(ans1)">
        {{ans1}}
      </button>
      <br>
      <button ion-button round color="light" class="ans" (click)="recordAnswer(ans2)">
        {{ans2}}
      </button>
      <br>
      <button ion-button round color="light" class="ans" (click)="recordAnswer(ans3)">
        {{ans3}}
      </button>
      </div>
      <!-- <br>
      <button ion-button color="secondary" (click)="presentAlert()">
        ALERT used for Questions
      </button> -->
    </ion-list>
  </div>
</ion-content>
