page-signin {
	.logo {
        text-align: center;
        img {
            margin-top: 15px;
            margin-bottom: 5px;
            width: 50%;
        }
    }
    .pushAndFB {
        text-align: center;
    }

}
